@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Pretendard'
}

@layer utilities {

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply appearance-none;
  }
}


@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  font-display: swap;
  src: url('../assets/fonts/Pretendard-ExtraBold-subset.woff2') format('woff2'), url('../assets/fonts/Pretendard-ExtraBold-subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src: url('../assets/fonts/Pretendard-Bold-subset.woff2') format('woff2'), url('../assets/fonts/Pretendard-Bold-subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-display: swap;
  src: url('../assets/fonts/Pretendard-SemiBold-subset.woff2') format('woff2'), url('../assets/fonts/Pretendard-SemiBold-subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  src: url('../assets/fonts/Pretendard-Medium-subset.woff2') format('woff2'), url('../assets/fonts/Pretendard-Medium-subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src: url('../assets/fonts/Pretendard-Regular-subset.woff2') format('woff2'), url('../assets/fonts/Pretendard-Regular-subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-display: swap;
  src: url('../assets/fonts/Pretendard-Light-subset.woff2') format('woff2'), url('../assets/fonts/Pretendard-Light-subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-display: swap;
  src: url('../assets/fonts/Pretendard-ExtraLight-subset.woff2') format('woff2'), url('../assets/fonts/Pretendard-ExtraLight-subset.woff') format('woff');
}

/* ===== 텍스트 드래그 방지 CSS ===== */
* {
  -webkit-user-select: none;
  /* Chrome, Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* 표준 */
}

/* ===== 이미지 드래그 방지 CSS ===== */

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

/* ===== scrollbar CSS ===== */
*::-webkit-scrollbar {
  display: none;
}